<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::headFragment(title='Панель администратора')"></head>
<body>

<div class="container">
    <div class="row">
        <h1>Панель администратора. Работники</h1>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <form th:action="@{/shabashka/logout}" method="post">
                <button type="submit" class="btn btn-dark" style="margin-bottom: 10px; margin-left: 70px;">Выйти</button>
            </form>

        </div>
    </div>

    <form th:action="@{/shabashka/admin/search}" style="margin-bottom: 10px; ">
        <div class="form-row">
            <div class="col-9">
                <input class="form-control" name="name" th:value="${search}"/>
            </div>
            <div class="col">
                <button class="btn btn-success btn-block" type="submit">Поиск</button>
            </div>
            <div class="col-2">
                <a th:href="@{/shabashka/admin/linkToSaveWorker}" class="btn btn-info">Добавить работника</a>
            </div>
        </div>
    </form>

    <div class="btn-group mb-2" role="group" aria-label="Button group with nested dropdown">

        <button type="button" class="btn btn-secondary">Сортировать:</button>


        <div class="btn-group" role="group">
            <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                по цене
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                <a class="dropdown-item">
                    <form th:action="@{/shabashka/admin/sortByPriceInDescOrder}">
                        <div class="form-row">
                            <button class="dropdown-item" type="submit">по убыванию</button>
                        </div>
                    </form>
                </a>
                <a class="dropdown-item">
                    <form th:action="@{/shabashka/admin/sortByPriceInAscOrder}">
                        <div class="form-row">
                            <button class="dropdown-item" type="submit">по возрастанию</button>
                        </div>
                    </form>
                </a>
            </div>
        </div>

        <div class="btn-group" role="group">
            <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                по рейтингу
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                <a class="dropdown-item">
                    <form th:action="@{/shabashka/admin/sortByRatingInDescOrder}">
                        <div class="form-row">
                            <button class="dropdown-item" type="submit">по убыванию</button>
                        </div>
                    </form>
                </a>
                <a class="dropdown-item">
                    <form th:action="@{/shabashka/admin/sortByRatingInAscOrder}">
                        <div class="form-row">
                            <button class="dropdown-item" type="submit">по возрастанию</button>
                        </div>
                    </form>
                </a>
            </div>
        </div>

        <div class="btn-group" role="group">
            <button id="btnGroupDrop4" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                по отзывам
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                <a class="dropdown-item">
                    <form th:action="@{/shabashka/admin/sortByFeedbackInDescOrder}">
                        <div class="form-row">
                            <button class="dropdown-item" type="submit">по убыванию</button>
                        </div>
                    </form>
                </a>
                <a class="dropdown-item">
                    <form th:action="@{/shabashka/admin/sortByFeedbackInAscOrder}">
                        <div class="form-row">
                            <button class="dropdown-item" type="submit">по возрастанию</button>
                        </div>
                    </form>
                </a>
            </div>
        </div>

        <div class="btn-group" role="group">
            <button id="btnGroupDrop5" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                наличие авто
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop5">
                <a class="dropdown-item">
                    <form th:action="@{/shabashka/admin/sortByisCarTrue}">
                        <div class="form-row">
                            <button class="dropdown-item" type="submit">есть</button>
                        </div>
                    </form>
                </a>
                <a class="dropdown-item">
                    <form th:action="@{/shabashka/admin/sortByisCarFalse}">
                        <div class="form-row">
                            <button class="dropdown-item" type="submit">нет</button>
                        </div>
                    </form>
                </a>
            </div>
        </div>


    </div>


    <div class="row" th:if="${workers.size()>0}">
        <div class="container" th:each="worker : ${workers}">


            <div class="card flex-row flex-wrap mb-3">
                <div class="card-header border-0">
                    <img class="media-left" th:width="170" th:alt="${worker.name}"
                         th:src="@{/media/avatars/{avatar} (avatar=${worker.avatar})}">
                </div>

                <div class="card-block px-2 col-sm-3">
                    <h4 class="card-title my-2" th:text="${worker.name}"></h4>
                    <p class="style-main-text">Возраст: <span class="style-main-text" th:text="${worker.age}"></span>
                    </p>
                    <p class="style-main-text">Рейтинг: <span class="style-main-text"
                                                              th:text="${worker.avrRating}"></span></p>
                    <p class="style-main-text">Отзывы: <span class="style-main-text"
                                                             th:text="${worker.listOfFeedback.size()}"></span></p>
                    <p class="style-main-text">Выполненные работы: <span class="style-main-text"
                                                                         th:text="${worker.listOfExecutedWork.size()}"></span>
                    </p>
                    <p class="style-main-text">Наличие автомобиля: <span class="style-main-text"
                                                                         th:text="${worker.carString}"></span></p>
                    <p class="style-main-text">Рабочий день: <span class="style-main-text"
                                                                             th:text="${worker.price}"> </span> руб.</p>


                </div>

                <div class="card-block px-2 col-sm-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="btn-group my-2" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle btn-block"
                                            data-toggle="dropdown">
                                        Показать телефон
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item style-main-text-table" th:text="${worker.phone}"></a>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a th:href="@{/shabashka/admin/feedback/by-worker/{id}(id=${worker.id})}"
                                   class="btn btn-primary btn-block px-2 mt-5">Отзывы</a>

                                <a th:href="@{/shabashka/admin/executedWork/by-worker/{id}(id=${worker.id})}"
                                   class="btn btn-primary btn-block px-2">Выполненные работы</a>

                                <form method="post" th:action="@{/shabashka/admin/by-worker/{id}/delete (id=${worker.id})}">
                                    <button class="btn btn-danger btn-block mt-2" type="submit">Удалить</button>
                                </form>

                                <form method="get" th:action="@{/shabashka/admin/editWorker/{id} (id=${worker.id})}">
                                    <button class="btn btn-secondary btn-block mt-2" type="submit">Редактировать</button>
                                </form>

                            </div>
                            <div class="col-sm-6">

                                <a th:href="@{/shabashka/admin/saveFeedback/by-worker/{id} (id=${worker.id})}" class="btn btn-info btn-block px-2 mt-5">Добавить отзыв</a>

                                <a th:href="@{/shabashka/admin/saveExecutedWork/by-worker/{id} (id=${worker.id})}" class="btn btn-info btn-block px-2">Добавить работу</a>


                            </div>
                        </div>

                    </div>







                </div>




            </div>
        </div>
    </div>
    <div class="row" th:if="${workers.size()==0}">
        <div class="col">
            <span>Простите за временное неудобство!</span>
            <span>На данный момент не зарегистрирован ни один работник.</span>

        </div>
    </div>


</div>
<div th:include="fragments/layout::scriptsFragment" th:remove="tag"></div>
</body>
</html>