<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::headFragment(title='Выполненные работы')"></head>
<body>

<div class="container">
    <div class="row">
        <h1>Выполненные работы</h1>
    </div>

    <div class="row">
        <div class="container">
            <div class="card flex-row flex-wrap mb-3">
                <div class="card-header border-0">
                    <img class="media-left" th:width="160" th:alt="${worker.name}"
                         th:src="@{/media/avatars/{avatar} (avatar=${worker.avatar})}">
                </div>
                <div class="card-block px-2 col-sm-4">
                    <h4 class="card-title my-2" th:text="${worker.name}"></h4>
                    <p class="style-main-text">Возраст: <span class="style-main-text"
                                                        th:text="${worker.age}"></span>
                    </p>
                    <p class="style-main-text">Рейтинг: <span class="style-main-text"
                                                        th:text="${worker.avrRating}"></span>
                    </p>
                    <p class="style-main-text">Отзывы: <span class="style-main-text"
                                                       th:text="${worker.listOfFeedback.size()}"></span>
                    </p>
                    <p class="style-main-text">Выполненные работы: <span class="style-main-text"
                                                                   th:text="${worker.listOfExecutedWork.size()}"></span>
                    </p>
                    <p class="style-main-text">Наличие автомобиля: <span class="style-main-text"
                                                                   th:text="${worker.carString}"></span>
                    </p>
                    <p class="style-main-text">Стоимость рабочего дня: <span class="style-main-text"
                                                                       th:text="${worker.price}"> </span>
                        руб.</p>

                </div>

                <div class="card-block px-2 col-sm-3">
                    <div class="btn-group my-2 " role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle btn-block"
                                data-toggle="dropdown">
                            Показать телефон
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item style-main-text-table" th:text="${worker.phone}"></a>
                        </div>
                    </div>
                    <a th:href="@{../../../shabashka/}"
                       class="btn btn-primary btn-block px-2 mt-5">Список работников</a>
                    <a th:href="@{../../../shabashka/feedback/by-worker/{id}(id=${worker.id})}"
                       class="btn btn-primary btn-block px-2">Отзывы</a>

                </div>
            </div>
        </div>


    </div>

    <div class="row" th:if="${worker.listOfExecutedWork.size()>0}">
        <div class="container" th:each="executedWork : ${worker.listOfExecutedWork}">

            <div class="card mb-3">

                <div class="card-header">
                    <div class="row">
                    <div class="col">
                        <p class="style-header-table"><span class="style-header-table"
                                                                       th:text="${executedWork.nameOfWork}"></span>
                        </p>
                    </div>
                    <div class="col">
                        <p class="style-header-table">Стоимость: <span class="style-header-table"
                                                                 th:text="${executedWork.fullCost}"></span>  руб.
                        </p>
                    </div>
                    </div>
                </div>

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="style-main-text-table" th:text="${executedWork.description}"> </p>

                     </blockquote>
                </div>

                <div class="card-footer">


                    <a th:href="@{../../../shabashka/executedWork/images/by-executed-work/{id}(id=${executedWork.id})}"
                       class="btn btn-primary px-2">Смотреть фотографии выполненных работ</a>




                </div>


            </div>
        </div>
    </div>

    <div class="row" th:if="${worker.listOfExecutedWork.size()==0}">
            <span>Простите за временное неудобство!</span>
            <span>Работник пока что не оставил данных о выполненных работах</span>
            <span>Если Вы являетесь этим работником и хотите оставить данные о выполненных работах, то напишите адниминистратору admin@shabashka.ru</span>
    </div>


</div>
<div th:include="fragments/layout::scriptsFragment" th:remove="tag"></div>
</body>
</html>