<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::headFragment(title='Фотографии выполненных работ')"></head>
<body>

<div class="container">
    <div class="row">
        <h1> <span class="style-h1" th:text="${nameOfWork}"> </span></h1>
    </div>

    <div class="row">
        <div class="container">
            <div class="card flex-row flex-wrap mb-3">
                <div class="card-header border-0">
                    <img class="media-left" th:width="160" th:alt="${worker.name}"
                         th:src="@{/media/avatars/{avatar} (avatar=${worker.avatar})}">
                </div>
                <div class="card-block px-2 col-sm-4">
                    <h4 class="card-title my-2" th:text="${worker.name}"></h4>
                    <p class="style-main-text">Возраст: <span class="style-main-text"
                                                              th:text="${worker.age}"></span>
                    </p>
                    <p class="style-main-text">Рейтинг: <span class="style-main-text"
                                                              th:text="${worker.avrRating}"></span>
                    </p>
                    <p class="style-main-text">Отзывы: <span class="style-main-text"
                                                             th:text="${worker.listOfFeedback.size()}"></span>
                    </p>
                    <p class="style-main-text">Выполненные работы: <span class="style-main-text"
                                                                         th:text="${worker.listOfExecutedWork.size()}"></span>
                    </p>
                    <p class="style-main-text">Наличие автомобиля: <span class="style-main-text"
                                                                         th:text="${worker.carString}"></span>
                    </p>
                    <p class="style-main-text">Стоимость рабочего дня: <span class="style-main-text"
                                                                             th:text="${worker.price}"> </span>
                        руб.</p>

                </div>

                <div class="card-block px-2 col-sm-3">
                    <div class="btn-group my-2 " role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle btn-block"
                                data-toggle="dropdown">
                            Показать телефон
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item style-main-text-table" th:text="${worker.phone}"></a>
                        </div>
                    </div>
                    <a th:href="@{../../../}"
                       class="btn btn-primary btn-block px-2 mt-5">Список работников</a>
                    <a th:href="@{../../../feedback/by-worker/{id}(id=${worker.id})}"
                       class="btn btn-primary btn-block px-2">Отзывы</a>
                    <a th:href="@{../../../executedWork/by-worker/{id}(id=${worker.id})}"
                       class="btn btn-primary btn-block px-2">Выполненные работы</a>

                </div>
            </div>
        </div>


    </div>



    <div class="row" th:if="${listOfImagesOfOneExecutedWork.size()>0}">
        <div class="container" th:each="imageEntity : ${listOfImagesOfOneExecutedWork}">

            <div class="card mb-3">

                <div class="card-body">
                    <img class="d-block w-100" th:src="@{/media/executedWorks/{img} (img=${imageEntity.nameOfImage})}">
                </div>


            </div>
        </div>
    </div>

    <div class="row" th:if="${listOfImagesOfOneExecutedWork.size()==0}">
            <span>Простите за временное неудобство!</span>
            <span>Работник пока что не предоставил фотографии выполненных работ</span>
            <span>Если Вы являетесь этим работником и хотите оставить данные о выполненных работах, то напишите адниминистратору admin@shabashka.ru</span>
    </div>


</div>
<div th:include="fragments/layout::scriptsFragment" th:remove="tag"></div>
</body>
</html>